@import '../../common/styles';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 2px solid $blue-color;

  padding: 0 42px;

  height: $header-height;
  background: linear-gradient(90deg, #0037ff 0%, #0085ff 75%);

  color: #fff;

  &__list {
    display: flex;
    gap: 20px;

    align-items: center;

    list-style: none;
  }

  &__logo {
    font-size: 32px;
    font-weight: 700;
  }

  &__profile {
    height: 30px;
    width: 30px;

    background-color: green;

    border: 2px solid #051d4d;
    border-radius: 50%;
  }
}
